@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #420211 50%, #5e1224 100%);
    font-family: 'Raleway', sans-serif;
    width: auto;
    color: #fff;
}

.painel{
    margin: 20px auto ;
    background: #ff7a9933 ;
    width: 80%;
    height: 150vh;
    border-radius:20px;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.painel h2{
    margin-bottom: 30px;
}

.painel h1{
    margin: 10px;
    color: #e9456c;
    text-decoration: underline;
}


.painel img{
    margin: auto;
    max-width: 200px;    
    box-shadow: -50px -50px 0 -40px #5e1224, 50px 50px 0 -40px #5e1224;
}

.pergunta{
    color: #e9456c;
    margin: 25px;
}

.botao{
    width: 100%;
}

#sim{
    position: absolute;
    height: 50px;
    width: 150px;
    background: #e6456b;
    border: 4px solid #5e1224;
    border-radius: 30px;
    color: #5e1224;
    font-size: 1rem;
    text-transform: uppercase;
    left: 50%;
    margin: 5px;
}

#nao{
    position: absolute;
    height: 50px;
    width: 150px;
    background: #e6456b;
    border: 4px solid #5e1224;
    border-radius: 30px;
    color: #5e1224;
    font-size: 1rem;
    text-transform: uppercase;
    right: 50%;
    margin: 5px;
}

#sim:hover{
    background-color: #5e1224;
    color: #e6456b;
    border: 4px solid #e6456b;
}

.popup{
    position: fixed;
    top: 0; right: 0;
    bottom:0; left: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    box-shadow: -50px -50px 0 -40px #e6456b, 50px 50px 0 -40px #e6456b;
    background-color: #5e1224;
    color: #e6456b;
    text-align: center;
    align-items: center;
    display: none;
}

.popup h3{
    margin-top:50px;
    margin-bottom: 50px;
}

.popup h4{
    margin: 10px;
}

.popup a{
    background-color: #5e1224;
    color: #e6456b;
    border: 4px solid #e6456b;
    border-radius: 30px;
  
    border-radius: 30px;

    font-size: 1rem;
    padding: 15px 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.popup a:hover{
    background-color: #e6456b;
    color: #5e1224;
    border: 4px solid #5e1224;
}