@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255,228,237);
    background: linear-gradient(0deg, rgba(255,228,237,1) 0%, rgba(255,108,176,1) 50%, rgba(255,27,160,1) 100%);
    font-family: 'Raleway', sans-serif;
    width: auto;
}

.painel{
    margin: 20px auto ;
    background: rgba(255, 220, 248, 0.445);
    width: 80%;
    height: 150vh;
    border-radius:20px;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.painel h2{
    margin-bottom: 30px;
}

.painel h1{
    margin: 10px;
    color: #ff1ba0;
    text-decoration: underline;
}


.painel img{
    margin: auto;
    max-width: 200px;    
    box-shadow: -50px -50px 0 -40px #ff1ba0, 50px 50px 0 -40px #ff6cb0;
}

.pergunta{
    color: #ff0095;
    margin: 25px;
}

.botao{
    width: 100%;
}

#sim{
    position: absolute;
    height: 50px;
    width: 140px;
    background: #ff0095;
    border: 4px solid #ff6cb0;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    left: 50%;
    margin: 5px;
}

#nao{
    position: absolute;
    height: 50px;
    width: 140px;
    background: #ff0095;
    border: 4px solid #ff6cb0;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    right: 50%;
    margin: 5px;
}

#sim:hover{
    background-color: #ff6cb0;
    color: #ff0095;
    border: 4px solid #ff0095;
}

.popup{
    position: fixed;
    top: 0; right: 0;
    bottom:0; left: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    box-shadow: -50px -50px 0 -40px #ff1ba0, 50px 50px 0 -40px #ff1ba0;
    background-color: #ffa1cd;
    color: #000000;
    text-align: center;
    align-items: center;
    display: none;
}

.popup h3{
    margin-top:50px;
    margin-bottom: 50px;
}

.popup h4{
    margin: 10px;
}

.popup a{
    background: #ff6cb0;
    border: 4px solid #ff0095;
    border-radius: 30px;
    color: #ff0095;;
    font-size: 1rem;
    padding: 15px 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.popup a:hover{
    background: #2baaff;
    border: 4px solid #ffffff;

    color: #ffffff;
}